:root {
    --bg: rgb(2, 0, 36);
    --bg-linear: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(41,36,34,1) 0%, rgba(0,212,255,1) 100%);
    --text-center: center;
}

body {
    background: var(--bg);
    background: var(--bg-linear);
}

nav {
    background-color: #AAAAAA;
    border-radius: 30px;
    padding: 5px;
    box-shadow: 0px 5px 5px black;
    width: auto;
    height: auto;
}

a {
    color: #000000;
    text-decoration: none;
}

.nav-link {
    flex: auto;
    flex-direction: row;
    text-align: var(--text-center);
    justify-content: start;
    font-size: 24px;
}

.title {
    text-align: var(--text-center);
    font-size: xx-large;
    color: #ffffff;
}

.description {
    text-align: var(--text-center);
    font-size: large;
    color: #ffffff;
    text-shadow: 3px 3px 5px black;
}