.home_link,
.career_link,
.about_link {
  text-decoration: none;
  color: #111111;
  font-size: 30px;
  text-align: center;
  transition-duration: 1s;
}

.home_link:hover,
.career_link:hover,
.about_link:hover {
  transform: translate(0%, 10%);
  background-color: #cccccc;
  border-radius: 10%;
  padding: 3%;
  transition-duration: 1s;
}

.theme_wrapper .wrapper {
  --size: 40px;

  position: relative;
  background: linear-gradient(90deg, #f19af3, #f099b5);
  line-height: 0;
  perspective: 400px;
  font-size: var(--size);
}

.theme_wrapper .wrapper input[type="checkbox"],
.theme_wrapper .wrapper label,
.theme_wrapper .wrapper label::before,
.theme_wrapper .wrapper label::after,
.theme_wrapper .wrapper {
  appearance: none;
  display: inline-block;
  border-radius: var(--size);
  border: 0;
  transition: 0.35s ease-in-out;
  box-sizing: border-box;
  cursor: pointer;
}

.theme_wrapper .wrapper label {
  width: calc(2.2 * var(--size));
  height: var(--size);
  background: #d7d7d7;
  overflow: hidden;
}

.theme_wrapper .wrapper input[type="checkbox"] {
  position: absolute;
  z-index: 1;
  width: calc(0.8 * var(--size));
  height: calc(0.8 * var(--size));
  top: calc(0.1 * var(--size));
  left: calc(0.1 * var(--size));
  background: linear-gradient(45deg, #dedede, #ffffff);
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3);
  outline: none;
  margin: 0;
}

.theme_wrapper .wrapper input[type="checkbox"]:checked {
  left: calc(1.3 * var(--size));
}

.theme_wrapper .wrapper input[type="checkbox"]:checked + label {
  background: transparent;
}

.theme_wrapper .wrapper label::before,
.theme_wrapper .wrapper label::after {
  content: "· ·";
  position: absolute;
  overflow: hidden;
  left: calc(0.15 * var(--size));
  top: calc(0.5 * var(--size));
  height: var(--size);
  letter-spacing: calc(-0.04 * var(--size));
  color: #9b9b9b;
  font-family: "Times New Roman", serif;
  z-index: 2;
  font-size: calc(0.6 * var(--size));
  border-radius: 0;
  transform-origin: 0 0 calc(-0.5 * var(--size));
  backface-visibility: hidden;
}

.theme_wrapper .wrapper label::after {
  content: "●";
  top: calc(0.65 * var(--size));
  left: calc(0.2 * var(--size));
  height: calc(0.1 * var(--size));
  width: calc(0.35 * var(--size));
  font-size: calc(0.2 * var(--size));
  transform-origin: 0 0 calc(-0.4 * var(--size));
}

.theme_wrapper .wrapper input[type="checkbox"]:checked + label::before,
.theme_wrapper .wrapper input[type="checkbox"]:checked + label::after {
  left: calc(1.55 * var(--size));
  top: calc(0.4 * var(--size));
  line-height: calc(0.1 * var(--size));
  transform: rotateY(360deg);
}

.theme_wrapper .wrapper input[type="checkbox"]:checked + label::after {
  height: calc(0.16 * var(--size));
  top: calc(0.55 * var(--size));
  left: calc(1.6 * var(--size));
  font-size: calc(0.6 * var(--size));
  line-height: 0;
}
